.Navbar {
    height:80px;
    width: 100vw;
    background-color: rgb(170, 179, 166);
    display: flex;
    justify-content: space-around;
    align-content: center;
}

.NavbarLinks {
    display: flex;
    justify-content: space-around;
    align-content: center;
}